
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.HomePageDiv{
    height: 10vh;
}
.HomePageDiv nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 90px;
    color:#8373dc;

}
nav a{
    padding: 15px 35px;
    font-weight: bold;
    text-decoration: none;
}
.HomePageDiv nav div a:hover{
    /* color: rgba(56, 3, 45, 0.76); */
    color: #7462E1;
    font-size: 17px;
   
}
.fa-sun{
    color: #8373dc;
}
header.sticky{
    background-color: #f9f9f9;
    padding: 2px 0px;
    width: auto;
    box-shadow: 0 5px 20px;
    
}