main{
    position: relative;
    height: 90vh;
    overflow: hidden;
}
.leftCircle{
    border-radius: 50%;
    background-color:#FAFCFE;
    height:100px;
    width: 100px;
    position: absolute;
    margin-left: -5%;
    margin-top: 26px;
}
.manDiv{
    background-image: url('../../images/sabi.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 90vw;
    background-position: 60% -40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.rightCircle{
    border-radius: 50%;
    background-color:#7462E1;
    height:150%;
    width: 80%;
    position: absolute;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
}
.rightCircle a{
  z-index: 2;
}
.fa-instagram{
    position: absolute;
    color: white; 
    font-size: 22px;
    margin-left: 50px;
    top:340px;
    left:200px;
    font-weight: -16px;
}
.fa-facebook{
    position: absolute;
    color: white; 
    font-size: 22px;
    margin-left: 50px;
    top:400px;
    left:200px;
    font-weight: 2px;
    
}
.fa-linkedin{
    position: absolute;
    color: white; 
    font-size: 22px;
    margin-left: 50px;
    top:460px;
    left:200px;
    font-weight: 2px;
}
.content {
    margin-left: 80px;
    position: absolute;
    margin-top: 80px;
    height: 500px;
    width: 400px;
  }
  
  .content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #120946;
  }
  
  .content p {
    margin: 30px auto;
    color: #453e6c;
    font-size: 20px;
  }

  .content p span {
    margin: 30px auto;
    color: #6e72f2de;
    font-size: 18px;
    font-weight: bold;
  }
  
  .content button {
    padding: 6px 10px;
    background-color: #7462E1;
    color: white;
    border-style: hidden;
  }
  